color {
 background-color: rgb(50, 174, 126);
}
colorp {
    background-color: rgb(200, 200, 200);
}
header {
    h1 {
        font-size: 2rem;
        color: color;
    }  
    }
    p {
        font-size: 1.2rem;
        color: colorp;
    }
